@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Car Maintenance Application</h2>
    <p class="lead">
        This is a Car Maintenance Application. You can register car here for service. It provides services like oil change
        , tire change , alignment, air filter change etc...
    </p>
    
</div>
